.headerG {
    font-family: "Amatic SC", sans-serif;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: -175px;
    margin-left: 379px;
    margin-top: 97px;

}



body {
    font-family: "Amatic SC", sans-serif;
    overflow-x: hidden;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.container {
    margin-top: 50px;
    text-align: left;
    display: flex;
    padding-left: 20px;
}

.text_font {
    font-size: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 150px;
    justify-content: center;
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: black;
    font-size: 17px;
    font-weight: bold;

}

.Events_Detail {

    margin-top: 30px;
    padding-top: 10px;
    padding-left: 1px;
}

.topnavinput[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    width: 200px;
    font-size: 20px;
}

.button_format {
    background-color: black;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 119px;
    border-radius: 15%;
    font-family: 'Amatic SC';
    font-weight: bold;
    margin-left: 354px;
}

.button_format:hover {
    background-color: rgb(158, 150, 150);
    color: black;

}

.reserve_button {
    margin-top: 20px;
    margin-left: 30px;
}

.button_style {
    text-decoration: none;
}